<div class="container-fluid">
    <form [formGroup]="meetingRef">
        <label>ClientName</label>
        <input type="text" formControlName="Client Name"><br/>
        <label>MeetingDate</label>
        <input type="text" formControlName="Meeting Date"><br/>
        <label>MeetingStart</label>
        <input type="text" formControlName="Meeting Start Time"><br/>
        <label>MeetingEnd</label>
        <input type="text" formControlName="Meeting End Time"><br/>
        <input type="submit" value="Store Meeting Details" class="btn btn-success"/>
        <input type="reset" value="Discard Changes" class="btn btn-info"/>

    </form>
    <br/>
    <table class="table">
        <tr>
            <th>ClientName</th>
            <th>MeetingDate</th>
            <th>MeetingStart</th>
            <th>MeetingEnd</th>
        </tr>
        <tr *ngFor="let meeting of meetings">
            <td>{{meeting.clientname}}</td>
            <td>{{meeting.meetingdate}}</td>
            <!-- <td>{{meeting.meetingstart}}</td> -->
            <td>{{meeting.meetingend}}</td>
            <td></td>
        </tr>
    </table>
</div>